SoftGrid/src/main/java/it/illinois/adsc/ema/softgrid/concenter/gatewaymap/GatewayIEDmap.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Gied" type="GiedType"/>
  <xs:complexType name="IEDType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="id" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="GatewayType">
    <xs:sequence>
      <xs:element type="IEDType" name="IED" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
    <xs:attribute type="xs:string" name="Ip" use="optional"/>
    <xs:attribute type="xs:string" name="port" use="optional"/>
    <xs:attribute type="xs:string" name="id" use="optional"/>
  </xs:complexType>
  <xs:complexType name="GiedType">
    <xs:sequence>
      <xs:element type="GatewayType" name="Gateway" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>