SoftGrid/src/main/java/it/illinois/adsc/ema/control/conf/PWModel.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="PWModel" type="PWModelType"/>
  <xs:complexType name="proxyNodeType">
    <xs:sequence>
      <xs:element type="xs:string" name="ip"/>
      <xs:element type="xs:string" name="port"/>
      <xs:element type="iedNodeType" name="iedNode" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
    <xs:attribute type="xs:string" name="active" use="optional"/>
  </xs:complexType>
  <xs:complexType name="dataType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="pwname" use="optional"/>
        <xs:attribute type="xs:string" name="sclName" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="controlCenterNodeType">
    <xs:sequence>
      <xs:element type="xs:string" name="ip"/>
    </xs:sequence>
    <xs:attribute type="xs:string" name="active"/>
  </xs:complexType>
  <xs:complexType name="iedNodeType">
    <xs:sequence>
      <xs:element name="PWCaseFileName">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="C:\\EMA\SmartPower\\smartpower\\SmartPower\\TransformerIEDModel.icd"/>
            <xs:enumeration value="C:\\EMA\SmartPower\\smartpower\\SmartPower\\TransformerIEDMode2.icd"/>
            <xs:enumeration value="C:\\EMA\SmartPower\\smartpower\\SmartPower\\TransformerIEDMode3.icd"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element type="xs:string" name="ip"/>
      <xs:element name="port">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="10003"/>
            <xs:enumeration value="10004"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="reference">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="IED_CircuiteBreakerlDevice1/MMXU1.BRANCH_CB_31_1_28"/>
            <xs:enumeration value="IED_TransformerTransformer/MMXU1.TRANS_54_53_1"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="device">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="Branch"/>
            <xs:enumeration value="Transformer"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element type="parametersType" name="parameters"/>
    </xs:sequence>
    <xs:attribute type="xs:string" name="active" use="optional"/>
  </xs:complexType>
  <xs:complexType name="PWModelType">
    <xs:sequence>
      <xs:element type="proxyNodeType" name="proxyNode" maxOccurs="unbounded" minOccurs="0"/>
      <xs:element type="controlCenterNodeType" name="controlCenterNode"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="keyType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="pwname" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="parametersType">
    <xs:sequence>
      <xs:element type="keyType" name="key" maxOccurs="unbounded" minOccurs="0"/>
      <xs:element type="dataType" name="data" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>